<div class="container">
    <div class="p-grid p-fluid ">
        <div style="width: 100%; display: flex;" [style.visibility]="isButtonsVisible ? 'visible' : 'hidden'">
            <div class="p-col-12 p-md-3 input-wrap p-field">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText pTooltip="Nazwa regału"tooltipPosition="bottom" [disabled]="disabledName" (input)="newShelf.name=getValueFromInputs($event)" [(ngModel)]="newShelf.name" (ngModelChange)="onChange($event)">                
                    <label for="inputtext">Nazwa regału</label>
                </span>
                
            </div>
            <div class="p-col-12 p-md-3 input-wrap">
                <span class="p-float-label">
                    <input type="text" pInputText pTooltip="Długość" tooltipPosition="bottom"[disabled]="disabled"  (input)="newShelf.height=getValueFromInputs($event)" [(ngModel)]="newShelf.height" (ngModelChange)="onChange($event)">
                    <label for="inputtext">Długość</label>
                </span>
            </div>
            <div class="p-col-12 p-md-3 input-wrap">
                <span class="p-float-label">
                    <input type="text" pInputText pTooltip="Szerokość" tooltipPosition="bottom" [disabled]="disabled"  (input)="newShelf.width=getValueFromInputs($event)" [(ngModel)]="newShelf.width" (ngModelChange)="onChange($event)">
                    <label for="inputtext">Szerokość</label>
                </span>
            </div>
            <div class="p-col-12 p-md-3 input-wrap">
                <span class="p-float-label">
                    <input type="text" pInputText pTooltip="Współrzędna x" tooltipPosition="bottom" [disabled]="disabled"   (input)="newShelf.x=getValueFromInputs($event)" [(ngModel)]="newShelf.x" value="{{newShelf.x}}" (ngModelChange)="onChange($event)">
                    <label for="inputtext">Współrzędna x</label>
                </span>
            </div>
            <div class="p-col-12 p-md-3 input-wrap">
                <span class="p-float-label">
                    <input type="text" pInputText pTooltip="Współrzędna y" tooltipPosition="bottom" [disabled]="disabled"   (input)="newShelf.y=getValueFromInputs($event)"[(ngModel)]="newShelf.y" (ngModelChange)="onChange($event)">
                    <label for="inputtext">Współrzędna y</label>
                </span>
            </div>
        </div>
            <div style="width: max-content;display: flex;">
                <p-button class="edit-button" icon="pi pi-plus" styleClass="p-button-outlined" (click)="create()" [hidden] = "mainButtonVisible"></p-button>
                <p-button class="edit-button" icon="pi pi-pencil" styleClass="p-button-outlined p-button-info" (click)="update()" [hidden] = "mainButtonVisible"></p-button>
                <p-button class="edit-button" icon="pi pi-save" styleClass="p-button-outlined p-button-success" [hidden] = "editButtonVisible" (click)="save()"  [disabled]="disabledSave" ></p-button>
                <p-button class="edit-button" icon="pi pi-trash" styleClass="p-button-outlined p-button-danger" (click)="delete()" [hidden] = "mainButtonVisible"></p-button>
                <p-button class="edit-button" icon="pi pi-arrow-left" styleClass="p-button-outlined p-button-help" [hidden] = "editButtonVisible" (click)="cancel()" ></p-button>
            </div>

        </div> 
    <canvas class="map" #canvas height="700" width="1500" (mousedown) = getCoordinates($event)></canvas>
</div>